* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #333;
    background-color: #ecf2f8;
    font-family: 'Barlow Semi-Condensed', sans-serif;
}

#testimonial-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 80vw;
}

.testimonials {
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 14px 11px 22px 1px rgba(0, 0, 0, 0.14);
    font-size: 13px;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #FFFFFF;
}

#testimonial-2 {
    background-color: #48556a;
    color: #FFFFFF;
}

#testimonial-3 #testimonial-5 {
    background-color: #FFFFFF;
    color: #48556a
}

#testimonial-4 {
    background-color: #19212e;
    color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

img {
    border-radius: 60%;
    size-adjust: 50%;
    margin-right: 15px;
}

.graduation-verification {
    opacity: 0.5;
    margin-top: 3px;
}

h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.quote-container p {
    opacity: 0.7;
}

@media (min-width: 576px) {
    #testimonial-container {
        display: flex;
        flex-direction: row;
        width: 80vw;
        /* height: 70vh; */
    }
    #main-container {
        flex-basis: 74%;
        display: flex;
        flex-direction: column;
    }

    #main-container-top {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    #testimonial-1 {
        flex-basis: 67%;
        margin-right: 15px;
    }

    #testimonial-2 {
        flex-basis: 33%;
    }

    #main-container-bottom {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    #testimonial-3 {
        flex-basis: 25%;
        margin-right: 15px;
    }

    #testimonial-4 {
        flex-basis: 75%;
    }

    #side-container {
        flex-basis: 24%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    #testimonial-5 {
    }
}