* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #333;
    background-color: #ecf2f8;
}

.testimonials {
    padding: 20px;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #FFFFFF;
}

#testimonial-2 {
    background-color: #48556a;
    color: #FFFFFF;
}

#testimonial-3 {
    background-color: #FFFFFF;
}

#testimonial-4 {
    background-color: #19212e;
    color: #FFFFFF;
}

#testimonial-5 {
    background-color: #FFFFFF;
}

@media (min-width: 576px) {
    #testimonial-container {
        display: flex;
        flex-direction: row;
        width: 80vw;
        /* height: 70vh; */
        margin: 0;
        justify-content: space-between;
    }
    #main-container {
        flex-basis: 74%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #main-container-top {
        display: flex;
        flex-direction: row;
        flex-basis: 49%;
        justify-content: space-between;
    }

    #testimonial-1 {
        flex-basis: 66%;
    }

    #testimonial-2 {
        flex-basis: 32%;
    }

    #main-container-bottom {
        display: flex;
        flex-direction: row;
        flex-basis: 49%;
        justify-content: space-between;
    }

    #testimonial-3 {
        flex-basis: 24%;
    }

    #testimonial-4 {
        flex-basis: 74%;
    }

    #side-container {
        flex-basis: 24%;
        display: flex;
        flex-direction: column;
    }

    #testimonial-5 {
    }
}