* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #333;
    background-color: #ecf2f8;
}

#testimonial-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 80vw;
}

.testimonials {
    padding: 20px;
    margin-top: 15px;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #FFFFFF;
}

#testimonial-2 {
    background-color: #48556a;
    color: #FFFFFF;
}

#testimonial-3 {
    background-color: #FFFFFF;
}

#testimonial-4 {
    background-color: #19212e;
    color: #FFFFFF;
}

#testimonial-5 {
    background-color: #FFFFFF;
}

@media (min-width: 576px) {
    #testimonial-container {
        display: flex;
        flex-direction: row;
        width: 80vw;
        /* height: 70vh; */
    }
    #main-container {
        flex-basis: 74%;
        display: flex;
        flex-direction: column;
    }

    #main-container-top {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    #testimonial-1 {
        flex-basis: 67%;
        margin-right: 15px;
    }

    #testimonial-2 {
        flex-basis: 33%;
    }

    #main-container-bottom {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    #testimonial-3 {
        flex-basis: 25%;
        margin-right: 15px;
    }

    #testimonial-4 {
        flex-basis: 75%;
    }

    #side-container {
        flex-basis: 24%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    #testimonial-5 {
    }
}