html {
  box-sizing: border-box;
}

h1, h2, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#main-box {
  width: 650px;
  height: 475px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 4px black;
  font-family: sans-serif;
}

#top-box {
  background-color: white;
  height: 40%;
}

#bottom-box {
  height: 60%;
  width: 100%;
}

#subscription-box {
  display: inline-block;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 128, 128, 0.85);
  color: white;
}

#why-us-box {
  display: inline-block;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 128, 128, 0.75);
  color: white;
}





#top-box h1 {
  position: relative;
  top: 35px;
  left: 35px;
  color: rgba(0, 128, 128, 0.85);
  font-size: 21px;
  letter-spacing: 2px;
}

#top-box h2 {
  position: relative;
  top: 45px;
  left: 35px;
  color: rgba(154, 205, 45, 0.85);
  font-size: 16px;
  letter-spacing: 1.5px;
}

#top-box p {
  position: relative;
  left: 35px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  letter-spacing: 2px;
}

#first-header-paragraph {
  position: relative;
  top: 45px;
}

#second-header-paragraph {
  position: relative;
  top: 40px;
}

#subscription-box-header {
  position: relative;
  top: 35px;
  left: 35px;
  font-size: 16px;
  letter-spacing: 2px;
}

#price {
  position: relative;
  top: 35px;
  left: 35px;
  font-size: 34px;
  letter-spacing: 1px;
}

#subscription-box p {
  position: relative;
  top: 18px;
  left: 35px;
}

span {
  position: relative;
  top: -8px;
  font-size: 16px;
  font-weight: 2px;
  color: rgba(255,255,255, 0.5);
}

#subscription-box p {
  color: rgba(255,255,255, 0.8);
}

button {
  position: relative;
  top: 35px;
  left: 35px;
  width: 80%;
  height: 15%;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 7px 2px rgba(0,0,0, 0.1);
  background-color: rgba(154, 205, 45, 0.9);
  color: white;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(154, 205, 45, 0.8);
}

#why-us-box-header {
  position: relative;
  top: 35px;
  left: 35px;
  font-size: 16px;
  letter-spacing: 2px;
}

ul {
  position: relative;
  top: 35px;
  left: -3px;
  font-size: 14px;
  color: rgba(255,255,255, 0.7);
  list-style-type: none;
}

li {
  margin-bottom: 7px;
}